@model IEnumerable<OrderResponseModel>
<h1>Order index</h1>

<a asp-action="Create" asp-controller="Order" class="bg-success btn">Add Order</a>
<a asp-action="List" asp-controller="Order" class="bg-primary btn">Order List</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>ProductId</th>
            <th>UnitPrice</th>
            <th>quantity</th>
            <th>Discount</th>
            <th>Option</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.ProductId</td>
                    <td>@p.UnitPrice</td>
                    <td>@p.quantity</td>
                    <td>@p.Discount</td>
                    
                    <td>
                        <span>

                            <a asp-controller="Order" asp-action="Edit" asp-route-id="@p.Id">Edit</a>
                        </span>
                    </td>
                    <td>
                        <span>

                            <a asp-controller="Order" asp-action="Delete" asp-route-id="@p.Id">Delete</a>
                        </span>
                    </td>
                </tr>



            }
        }
    </tbody>
</table>