<!--index.cshtml is a razor view...
    razor is a viewengine, it will convert the C# code to 
    the script code which a browser can understand
-->
@model IEnumerable<Product>
<h1>Product index</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Price</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var p in Model)
            {
               <tr>
               <td>@p.Id</td>
               <td>@p.Name</td>
               <td>@p.Color</td>
               <td>@p.Price</td>
               <td>
               <span>
               <a asp-controller="Product" asp-action="Edit" asp-route-id="@p.Id" >Edit</a>
               </span>
               </td>
               </tr> 

            }
        }
    </tbody>
</table>

