@model IEnumerable<ShipperModel>



<h1>Shipper Index</h1>

<a asp-controller="Shipper" asp-action="Create" class="btn bg-success">Add Shipper</a>
<a asp-controller="Shipper" asp-action="List" class="btn bg-primary">Shipper List</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Option</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>@m.Phone</td>
                <td>
                    <span>

                        <a asp-controller="Shipper" asp-action="Edit" asp-route-id="@m.Id">Edit</a>
                    </span>
                </td>
                <td>
                    <span>
                        <a asp-controller="Shipper" asp-action="Delete" asp-route-id="@m.Id">Delete</a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>