@model IEnumerable<CustomerResponseModel>

<h1>Customer List</h1>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">RegionId</th>

            <th scope="col">Phone</th>
           
        </tr>
    </thead>
    <tbody>

        @{

            foreach (var m in Model)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.Name</td>
                    <td>@m.City</td>
                    <td>@m.RegionId</td>

                    <td>@m.Phone</td>
                 
                </tr>
            }
        }


    </tbody>
</table>


<a asp-action="Index" asp-controller="Customer" class="bg-success btn">Back to Customer Page</a>
